{% extends "user_main.base.html" %}

{% block content %}
{{ super() }}
{% endblock %}

{% set upd = 'has-success' if custom_content['update'] %}


{% block content_inner %}
<div class="row">
    <div class="card">
	<div class="header">
            <h4 class="title">{{ custom_content['page_headT'] }}</h4>
	</div>
	<div class="content">
            <form action="" method="post">
		{{ form.hidden_tag() }}
		<div class="row">
                    <div class="col-md-4">
			<div class="form-group {{'has-error' if form.role_name.errors else upd}}">
                            {{ form.role_name.label }}
			    {{ form.role_name }}
			    {% for error in form.role_name.errors %}
			    <div class="alert alert-danger"><strong>{{ error }}</strong></div>
			    {% endfor %}
			</div>
                    </div>
		    <div class="col-md-4">
			<div class="form-group {{'has-error' if form.parent_name.errors else upd}}">
			    {{ form.parent_name.label }}
			    {{ form.parent_name }}
			    {% for error in form.parent_name.errors %}
			    <div class="alert alert-danger"><strong>{{ error }}</strong></div>
			    {% endfor %}
			</div>
                    </div>
		</div>
		{{ form.submit(class_='btn btn-info btn-fill pull-right"') }}
		<div class="clearfix"></div>
            </form>
	</div>
    </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
