{% extends "base.html" %}

{% block content %}
{{ super() }}
{% endblock %}

{% block head %}
<link href="{{ url_for('admin.admin_s', filename='masonry/css/component.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content_inner %}
<div id="content-wrapper">

    <div class="container-fluid">

	<ul class="grid effect-1" id="grid">
	    {% for vurl, title, thumbpath, pub_date, comment in video_info %}
	    <li>
		<div class="m-content">
		    <a href="{{ vurl|e }}">
			<div class="content-overlay"></div>
			<img src="{{ thumbpath|e }}" class="content-image" style="width:100%" alt="{{ comment|e }}">
			<div class="content-details fadeIn-top">
			    <h3>{{ title|e }}</h3>
			    <p>{{ comment|e }}</p>
			</div>
		    </a>
		</div>
	    </li>
	    {% endfor %}
	</ul>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('admin.admin_s', filename='masonry/js/modernizr.custom.js') }}"></script>
<script src="{{ url_for('admin.admin_s', filename='masonry/js/masonry.pkgd.js') }}"></script>
<script src="{{ url_for('admin.admin_s', filename='masonry/js/imagesloaded.pkgd.js') }}"></script>
<script src="{{ url_for('admin.admin_s', filename='masonry/js/classie.js') }}"></script>
<script src="{{ url_for('admin.admin_s', filename='masonry/js/AnimOnScroll.js') }}"></script>

<script>

 new AnimOnScroll( document.getElementById( 'grid' ), {
     minDuration : 0.4,
     maxDuration : 0.7,
     viewportFactor : 0.2
 } );
</script>
{% endblock %}
