{% extends "base.html" %}

{% block content %}
{{ super() }}
{% endblock %}

{% block head %}
<link href="{{ url_for('admin.admin_s', filename='assets/css/cards-gallery.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

{% endblock %}


{% block content_inner %}
<!-- <div class="row">
     <div class="card">
     <div class="header">
     <h4 class="title">{{ custom_content['page_headT'] }}</h4>
     </div>
     <div class="content">
     <form action="" method="post">
     {{ form.hidden_tag() }}
     <div class="row">
     <div class="col-md-6">
     <div class="form-group {{'has-error' if form.gal_search.errors else upd}}">
     {{ form.gal_search.label }}
     {{ form.gal_search() }}
     {% for error in form.gal_search.errors %}
     <div class="alert alert-danger"><strong>{{ error }}</strong></div>
     {% endfor %}
     </div>
     </div>
     <div class="col-md-3">
     <div class="form-group {{'has-error' if form.gal_filter.errors else upd}}">
     {{ form.gal_filter.label }}
     {{ form.gal_filter() }}
     {% for error in form.gal_filter.errors %}
     <div class="alert alert-danger"><strong>{{ error }}</strong></div>
     {% endfor %}
     </div>
     </div>
     <div class="col-md-3">
     <div class="form-group {{'has-error' if form.gal_sort.errors else upd}}">
     {{ form.gal_sort.label }}
     {{ form.gal_sort() }}
     {% for error in form.gal_sort.errors %}
     <div class="alert alert-danger"><strong>{{ error }}</strong></div>
     {% endfor %}
     </div>
     </div>
     </div>
     {{ form.submit(class_='btn btn-info btn-fill pull-right"') }}
     <div class="clearfix"></div>
     </form>
     </div>
     </div>
     </div> -->

<!-- <section class="gallery-block cards-gallery">
     <div class="row">
     {% for vurl, title, thumbpath, pub_date, comment, likes, dislikes in video_info %}
     <div class="col-md-4 col-lg-3">
     <div class="gcard border-0 transform-on-hover">
     <a class="lightbox" href="{{ vurl|e }}">
     <div class="gcard_img">
     <center>
     <img src="{{ thumbpath|e }}" alt="Card Image" class="card-img-top">
     </center>
     </div>
     </a>
     <div class="gcard-body">
     <h6><a href="#">{{ title|e }}</a></h6>
     <p class="text-muted card-text">{{ comment|e }}</p>
     </div>
     </div>
     </div>
     {% endfor %}
     </div>
     </section> -->

<div class="row">
    <div class="card">
	<div class="content">
	    <div class="btn-group sort-by-button-group" role="group" aria-label="Basic example">
		<button type="button" class="btn btn-secondary is-checked" data-sort-value="original-order">original order</button>
		<button type="button" class="btn btn-secondary" data-sort-value="likes">likes</button>
	    </div>
	</div>
    </div>
</div>

<section class="gallery-block cards-gallery">
    <div class="row">
	<div class="grid">
	    {% for vurl, title, thumbpath, pub_date, comment, likes, dislikes in video_info %}
	    <div class="grid-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<div class="grid-content">
		    <p class="likes" hidden>{{ likes|e }}</p>
		    <div class="gcard border-0 transform-on-hover">
			<a class="lightbox" href="{{ vurl|e }}">
			    <div class="gcard_img">
				<center>
				    <img src="{{ thumbpath|e }}" alt="Card Image" class="card-img-top">
				</center>
			    </div>
			</a>
			<div class="gcard-body">
			    <h6><a href="#">{{ title|e }}</a></h6>
			    <p class="text-muted card-text">{{ comment|e }}</p>
			</div>
		    </div>
		</div>
	    </div>
	    {% endfor %}
	</div>
    </div>
</section>

{% endblock %}

{% block footer %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{{ url_for('admin.admin_s', filename='assets/js/isotope.pkgd.min.js') }}"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
 baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
 $(document).ready(function(){
     var $grid = $('.grid').imagesLoaded( function() {
	 // init Isotope after all images have loaded
	 $grid.isotope({
	     itemSelector: '.grid-item',
	     isFitWidth: true,
	     getSortData: {
		 likes: '.likes'
	     }
	 });
     });

     // bind sort button click
     $('.sort-by-button-group').on( 'click', 'button', function() {
	 console.log("pressed");
	 var sortValue = $(this).attr('data-sort-value');
	 console.log(sortValue);
	 $grid.isotope({ sortBy: sortValue });
     });

     // change is-checked class on buttons
     $('.btn-group').each( function( i, buttonGroup ) {
	 console.log("pressed");
	 var $buttonGroup = $( buttonGroup );
	 $buttonGroup.on( 'click', 'button', function() {
	     $buttonGroup.find('.is-checked').removeClass('is-checked');
	     $( this ).addClass('is-checked');
	 });
     });
 });
</script>

{% endblock %}
