<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>{{ custom_content['error_title'] }}</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{url_for('error_pages.static', filename='css/ep_style.css')}}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>{{ custom_content['error_title'] }}</h2>
			<p>{{ custom_content['error_description'] }}</p>
			<p>Redirecting to index page in <span id="countdown">5</span> seconds.</p>
			<p>Or use the link below</p>
			<a href="{{ custom_content['link'] }}">Go To Homepage</a>
		</div>
	</div>

	<script>

	 var seconds = 5;

	 function countdown() {
             seconds = seconds - 1;
             if (seconds < 0) {
		 // Chnage your redirection link here
		 window.location.href = "{{ custom_content['link'] }}";
             } else {
		 // Update remaining seconds
		 document.getElementById("countdown").innerHTML = seconds;
		 // Count down using javascript
		 window.setTimeout("countdown()", 1000);
             }
	 }

	 // Run countdown function
	 countdown();

	</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
